h1 {
    font-size: 28px;

}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.jumbotron {
    background-image: url(../img/eba_banner3.jpg);
    background-color: rgb(164, 143, 159);
    background-size: cover;
    margin: 0px;
    min-height: 100px;
    padding-top: 0px;
    padding-left: 0px;
}

.staff {
    background-image: url(../img/eba_banner7.jpg);
}

.project {
    background-image: url(../img/eba_banner7.jpg);
}

.diaries {
    background-image: url(../img/eba_banner4.jpg);
}

.emmapedia {
    background-image: url(../img/eba_banner6.jpg);
}

.emma {
    background-image: url(../img/eba_banner9.jpg);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.icons {
    margin-top: 30px;
}

.icons img {
    width: 50px;
    margin-right:20px;
}

.icons img:hover {
    opacity: .70;
}

.supporters {
    margin-top: 30px;
}

.supporters h2 {
    margin: 20px 15px 20px 15px;
}

.supporters img {
    display: block;
    margin-bottom: 20px;
}

.supporters img:hover {
    opacity: .70;
}

.tei_xml_output {
    font-family: "Courier New", Monospace;
}

.contents {
    padding: 0px 0px;
}

.postcontent img {
    width: 150px;
    float: left;
    border: 1px solid #B2B2B2;
    margin: 5px 20px 10px 0px;
}

footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11px;
    border-top: 1px solid #B2B2B2;
}

@media screen and (min-width: 768px){

    .jumbotron {
        min-height: 200px;
    }

    .jumbotron h1, .jumbotron .h1 {
        font-size: 40px;
    }

    .supporters {
        text-align: center;
    }

    .supporters img {
        display: inline;
        margin-right: 30px;
    }

    .tei_xml_output {
        padding-left: 30px;
    }

    .postcontent img {
        width: 200px;
    }

}

@media (min-width: 992px){
    .site_title {
        width: 100%;
    }

}